body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.msg{
    background-color: red;
    color: white;
    font-size: larger;
    justify-content: center;
}
.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: black;
}

.login-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 400px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color:green;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: green;
}

.message {
    margin-top: 15px;
}

.message a {
    color: green;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

